@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,700i");
@import url("https://fonts.googleapis.com/css?family=Cousine:400,700");
@import url("https://fonts.googleapis.com/css?family=Cousine:400,700|Roboto+Condensed:400,700");
* {
  margin: 0;
  padding: 0; }

html, body {
  min-height: 100%;
  font-family: "Merriweather Sans",sans-serif; }

.container {
  max-width: 1180px;
  margin: 0 auto; }

/*header*/
.header-upBox {
  padding: 9px;
  background-color: #f6f6f6; }
  .header-upBox--flex {
    display: flex;
    justify-content: space-between; }
  .header-upBox--left ul, .header-upBox--right ul {
    display: flex;
    list-style-type: none; }
  .header-upBox--left-list {
    padding: 0 20px; }
  .header-upBox--left-link, .header-upBox--right-link {
    color: #7e7e7e;
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none; }
    .header-upBox--left-link:hover, .header-upBox--right-link:hover {
      color: #fb7eb8; }
  .header-upBox--right ul .header-upBox--left-list:last-child {
    padding-right: 0; }
  .header-upBox--left ul .header-upBox--left-list:first-child {
    padding-left: 0; }

.header-downBox--flex {
  display: flex;
  justify-content: space-between;
  padding: 0 9px 20px 9px; }

.header-downBox--search {
  float: right; }

.header-downBox--right ul {
  display: flex;
  list-style-type: none;
  clear: both; }

.header-downBox--siteMenu .header-downBox--left-list:last-child {
  padding-right: 0; }

.header-downBox--left {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  padding-bottom: 5px; }

.header-downBox--siteMenu {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  padding: 0 9px 20px 9px; }

.header-downBox--left-list {
  padding: 0 25px; }

.header-downBox--left-link {
  text-decoration: none;
  color: #565656;
  font-family: Cousine, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase; }
  .header-downBox--left-link:hover {
    color: #fb7eb8; }

.header-downBox--logo-box {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  padding-top: 22px; }

.header-downBox--logo {
  color: #454545;
  font-size: 44px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase; }

.header-downBox--search {
  padding-top: 16px;
  padding-bottom: 25px;
  position: relative; }

.header-downBox--search-input {
  width: 238px;
  height: 13px;
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  padding: 11px 42px 11px 11px;
  position: relative; }

.header-downBox--search-input::-webkit-input-placeholder {
  color: #888888;
  font-family: "Trebuchet MS",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px; }

.header-downBox--search-btn {
  position: absolute;
  top: 25px;
  left: 260px; }
  .header-downBox--search-btn .fa-search {
    width: 16px;
    height: 16px;
    color: #888888; }
    .header-downBox--search-btn .fa-search:hover {
      color: #fb7eb8; }

/*end header*/
/*promo*/
.promo {
  background-color: #cccccc; }
  .promo-flex {
    display: flex;
    align-items: center; }
  .promo-box--h3 {
    width: 186px;
    color: #555555;
    font-family: Cousine,sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    padding-top: 378px;
    padding-bottom: 19px; }
  .promo-box--h2 {
    width: 453px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
    color: #ffffff;
    font-family: "Merriweather Sans",sans-serif;
    font-size: 100px;
    font-weight: 900;
    line-height: 80px;
    text-transform: uppercase;
    padding-bottom: 18px; }
  .promo-box--subTitle {
    width: 385px;
    color: #4c4c4c;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 33px;
    text-transform: uppercase;
    padding-bottom: 29px; }
  .promo-box--p {
    width: 99px;
    color: #333333;
    font-family: "Merriweather Sans",sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21.15px;
    text-transform: uppercase;
    padding-bottom: 345px; }
  .promo-plagination {
    display: flex;
    justify-content: center;
    padding-bottom: 28px; }
    .promo-plagination--circle {
      display: block;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      border: 2px solid #ffffff;
      margin: 0 7px; }
      .promo-plagination--circle-active {
        background: #fff; }
  .promo-leftArrow, .promo-rightArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: 3px solid #ffffff;
    text-decoration: none; }
    .promo-leftArrow:hover, .promo-rightArrow:hover {
      border-color: #fb7eb8; }
    .promo-leftArrow:hover > .fa-angle-left, .promo-rightArrow:hover > .fa-angle-left {
      color: #fb7eb8; }
    .promo-leftArrow:hover > .fa-angle-right, .promo-rightArrow:hover > .fa-angle-right {
      color: #fb7eb8; }
    .promo-leftArrow .fa-angle-left,
    .promo-leftArrow .fa-angle-right, .promo-rightArrow .fa-angle-left,
    .promo-rightArrow .fa-angle-right {
      font-size: 18px;
      color: #ffffff; }
  .promo-leftArrow {
    margin: 0 360px 0 15px; }
  .promo-rightArrow {
    margin: 0 15px; }

/*end promo*/
/*block info*/
.blockInfo {
  padding: 60px 0;
  background-color: #f3f3f3; }
  .blockInfo-flex {
    display: grid;
    grid-template-columns: 370px;
    grid-row: 3;
    grid-auto-rows: 370px;
    grid-gap: 14px; }
  .blockInfo-box {
    background: #ccc;
    text-decoration: none; }
    .blockInfo-box:hover {
      box-shadow: 0 2px 2px #818181; }
  .blockInfo-box--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 20px;
    width: 770px; }
    .blockInfo-box--1-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 50px; }
    .blockInfo-box--1--textBlock {
      border: 1px solid #fff;
      padding: 72px 35px; }
    .blockInfo-box--1--textBlock-h2 {
      color: #ffffff;
      font-family: "Merriweather Sans",sans-serif;
      font-size: 40px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 27px; }
    .blockInfo-box--1--textBlock-h3 {
      color: #ffffff;
      font-family: "Roboto Condensed",sans-serif;
      font-size: 23px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      text-align: center; }
    .blockInfo-box--1--textBlock-p {
      color: #ffffff;
      font-family: "Merriweather Sans",sans-serif;
      font-size: 15px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      text-align: center; }
    .blockInfo-box--1--textBlock-subTitle {
      color: #ffffff;
      text-align: center;
      font-family: Cousine, sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 40px;
      padding-top: 22px;
      text-transform: uppercase; }
    .blockInfo-box--1-leftArrow, .blockInfo-box--1-rightArrow {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      border-radius: 50%;
      width: 38px;
      height: 38px;
      border: 3px solid #ffffff;
      color: #fff; }
      .blockInfo-box--1-leftArrow:hover, .blockInfo-box--1-rightArrow:hover {
        border-color: #fb7eb8; }
      .blockInfo-box--1-leftArrow:hover > .fa-angle-left, .blockInfo-box--1-rightArrow:hover > .fa-angle-left {
        color: #fb7eb8; }
      .blockInfo-box--1-leftArrow:hover > .fa-angle-right, .blockInfo-box--1-rightArrow:hover > .fa-angle-right {
        color: #fb7eb8; }
  .blockInfo-box--2 {
    padding-top: 132px; }
    .blockInfo-box--2-h2 {
      color: #ffffff;
      font-family: "Merriweather Sans",sans-serif;
      font-size: 40px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 27px; }
    .blockInfo-box--2-h3 {
      color: #ffffff;
      font-family: "Roboto Condensed",sans-serif;
      font-size: 23px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 114px; }
    .blockInfo-box--2-p {
      color: #ffffff;
      font-family: "Merriweather Sans",sans-serif;
      font-size: 15px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      text-align: center; }
  .blockInfo-box--3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 370px;
    padding-top: 50px; }
    .blockInfo-box--3-h2 {
      color: #ffffff;
      font-family: "Merriweather Sans",sans-serif;
      font-size: 25px;
      font-weight: 400;
      line-height: 40px;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 27px; }
    .blockInfo-box--3-subTitle {
      color: #ffffff;
      text-align: center;
      font-family: Cousine, sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 40px; }
    .blockInfo-box--3-h3 {
      color: #ffffff;
      font-family: "Roboto Condensed",sans-serif;
      font-size: 23px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 514px; }
    .blockInfo-box--3-p {
      color: #ffffff;
      font-family: "Merriweather Sans",sans-serif;
      font-size: 15px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      text-align: center; }
  .blockInfo-box--4 {
    padding-top: 132px; }
    .blockInfo-box--4-h2 {
      color: #ffffff;
      font-family: "Merriweather Sans",sans-serif;
      font-size: 40px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 27px; }
    .blockInfo-box--4-h3 {
      color: #ffffff;
      font-family: "Roboto Condensed",sans-serif;
      font-size: 23px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 114px; }
    .blockInfo-box--4-p {
      color: #ffffff;
      font-family: "Merriweather Sans",sans-serif;
      font-size: 15px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      text-align: center; }
  .blockInfo-box--5 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 430px;
    padding-top: 310px; }
    .blockInfo-box--5-h2 {
      color: #ffffff;
      font-family: "Merriweather Sans",sans-serif;
      font-size: 40px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 27px; }
    .blockInfo-box--5-subTitle {
      color: #ffffff;
      text-align: center;
      font-family: Cousine,sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 40px; }
      .blockInfo-box--5-subTitle--line {
        display: inline-block;
        vertical-align: middle;
        width: 80px;
        height: 1px;
        background-color: #ffffff; }
    .blockInfo-box--5-h3 {
      color: #ffffff;
      font-family: "Roboto Condensed",sans-serif;
      font-size: 23px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 234px; }
    .blockInfo-box--5-p {
      color: #ffffff;
      font-family: "Merriweather Sans",sans-serif;
      font-size: 15px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 28px; }
  .blockInfo-box--6-h2 {
    color: #ffffff;
    font-family: "Merriweather Sans",sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 170px;
    padding-bottom: 27px; }
  .blockInfo-box--plagination {
    display: flex;
    justify-content: center; }
    .blockInfo-box--plagination--circle {
      width: 10px;
      height: 10px;
      border: 2px solid #ffffff;
      border-radius: 50%;
      margin: 0 6px; }
      .blockInfo-box--plagination--circle-active {
        background: #fff; }

/*end block info*/
@media screen and (min-width: 992px) and (max-width: 1279px) {
  .blockInfo-flex {
    justify-content: center;
    grid-template-columns: 300px;
    grid-auto-rows: 300px; }
  .blockInfo-box--1 {
    width: 572px; }
  .blockInfo-box--2, .blockInfo-box--3, .blockInfo-box--4, .blockInfo-box--5, .blockInfo-box--6 {
    width: 300px; }
  .blockInfo-box--1-flex {
    padding-top: 24px; }
  .blockInfo-box--1--textBlock {
    padding: 60px 80px; }
  .blockInfo-box--1--textBlock-h2 {
    font-size: 26px;
    padding-bottom: 11px; }
  .blockInfo-box--1--textBlock-h3 {
    font-size: 17px; }
  .blockInfo-box--1--textBlock-subTitle {
    font-size: 14px;
    padding-top: 18px; }
  .blockInfo-box--2 {
    padding-top: 78px; }
    .blockInfo-box--2-h2 {
      font-size: 32px;
      padding-bottom: 10px; }
    .blockInfo-box--2-h3 {
      font-size: 19px;
      padding-bottom: 115px; }
    .blockInfo-box--2-p {
      font-size: 15px; }
    .blockInfo-box--2-subTitle {
      font-size: 15px; }
  .blockInfo-box--3-h2 {
    font-size: 20px;
    padding-bottom: 11px;
    line-height: 20px; }
  .blockInfo-box--3-h3 {
    font-size: 15px;
    padding-bottom: 426px;
    line-height: 15px; }
  .blockInfo-box--3-subTitle {
    font-size: 13px;
    line-height: 25.97px;
    padding-bottom: 11px; }
  .blockInfo-box--4 {
    padding-top: 78px; }
    .blockInfo-box--4-h2 {
      font-size: 32px;
      padding-bottom: 10px; }
    .blockInfo-box--4-h3 {
      font-size: 19px;
      padding-bottom: 115px; }
    .blockInfo-box--4-p {
      font-size: 15px; }
  .blockInfo-box--5 {
    padding-top: 74px; }
    .blockInfo-box--5-h2 {
      font-size: 30px; }
    .blockInfo-box--5-h3 {
      font-size: 28px;
      padding-bottom: 315px; }
    .blockInfo-box--5-subTitle {
      font-size: 15px; }
    .blockInfo-box--5-subTitle--line {
      width: 60px; }
  .blockInfo-box--6-h2 {
    padding-top: 132px;
    font-size: 28px; } }
@media screen and (min-width: 778px) and (max-width: 991px) {
  .blockInfo-flex {
    justify-content: center;
    grid-template-columns: 228px;
    grid-auto-rows: 228px; }
  .blockInfo-box--1 {
    width: 431px; }
  .blockInfo-box--2, .blockInfo-box--3, .blockInfo-box--4, .blockInfo-box--5, .blockInfo-box--6 {
    width: 228px; }
  .blockInfo-box--1-flex {
    padding-top: 24px; }
  .blockInfo-box--1--textBlock {
    padding: 40px 47px; }
  .blockInfo-box--1--textBlock-h2 {
    font-size: 26px;
    padding-bottom: 11px; }
  .blockInfo-box--1--textBlock-h3 {
    font-size: 17px; }
  .blockInfo-box--1--textBlock-subTitle {
    font-size: 14px;
    padding-top: 5px; }
  .blockInfo-box--2 {
    padding-top: 78px; }
    .blockInfo-box--2-h2 {
      font-size: 25px;
      padding-bottom: 7px; }
    .blockInfo-box--2-h3 {
      font-size: 15px;
      padding-bottom: 50px; }
    .blockInfo-box--2-p {
      font-size: 15px; }
    .blockInfo-box--2-subTitle {
      font-size: 15px; }
  .blockInfo-box--3-h2 {
    font-size: 17px;
    padding-bottom: 8px;
    line-height: 17px; }
  .blockInfo-box--3-h3 {
    font-size: 13px;
    padding-bottom: 300px;
    line-height: 13px; }
  .blockInfo-box--3-subTitle {
    font-size: 13px;
    line-height: 25.97px;
    padding-bottom: 7px; }
  .blockInfo-box--4 {
    padding-top: 78px; }
    .blockInfo-box--4-h2 {
      font-size: 25px;
      padding-bottom: 7px; }
    .blockInfo-box--4-h3 {
      font-size: 15px;
      padding-bottom: 50px; }
    .blockInfo-box--4-p {
      font-size: 15px; }
  .blockInfo-box--5 {
    padding-top: 74px; }
    .blockInfo-box--5-h2 {
      font-size: 30px; }
    .blockInfo-box--5-h3 {
      font-size: 28px;
      padding-bottom: 190px; }
    .blockInfo-box--5-subTitle {
      font-size: 15px; }
    .blockInfo-box--5-subTitle--line {
      width: 60px; }
  .blockInfo-box--6-h2 {
    padding-top: 104px;
    font-size: 28px; }

  .header-downBox--siteMenu {
    justify-content: space-between; }
    .header-downBox--siteMenu .header-downBox--left-list:first-child {
      padding-left: 0; } }

/*# sourceMappingURL=main.css.map */
