@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    border: 1px solid #ececec;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
    height: 100px
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
}

.logo img {
    padding-right: 12px;
}

.bold {
    font-weight: 900;
}

.header-form {
    display: flex;
    align-items: center;
    padding: 0 36px;
    position: relative;
}

.form-btn-browse {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    box-sizing: border-box;
    background: -webkit-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -moz-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -o-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -ms-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    width: 87px;
    height: 38px;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

.fas{
    padding-left: 5px;
}



.form-btn-browse:hover {
    background: #f16d7f;
    color: #fff;
}

.btn-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-search {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 317px;
    height: 38px;
    padding: 14px 60px 14px 16px;
}

.form-search:focus {
    outline: 0;
}

.form-search placeholder {
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
}

.btn-search-text {
    position: absolute;
    right: 37px;
    padding: 10px 14px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    background-color: #ffffff;
    cursor: pointer;
}

.fa-search{
    color:  #a4a4a4;   
}

.btn-search-text:focus {
    outline: 0;
}

.header-right {
    display: flex;
    align-items: center;

}

.header-right img {
    padding: 0 26px
}


.btn {
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 15px;
    text-decoration: none;
}

.btn:hover {
    background: #cdcdcc;
}

.navigation {
    background: #fff;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu-link {
    display: block;
    padding: 20px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-link:hover {
    color: #f16d7f;
}

.promo {
    background-color: #e8e8e8;
    height: 614px;
}

.promo-content {
    display: flex;
    background-image: url("../image/promo.jpg");
    height: 100%;
    background-position: -252px -51px;
}

.promo-h2 {
    color: #222222;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 50px;
    margin-bottom: 10px;
}

.promo-h3 {
    color: #222222;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 33px;
}

.pink {
    color: #f16d7f;
}

.promo-text {
    height: 92px;
    margin-top: 224px;
    float: left;
    border-left: 12px solid #f16d7f;
    padding-left: 19px;
}


.categories{
    width: 100%;
    height: 823px;
    padding: 98px 0;
}


.categories>.container{
    width: 1140px;
    height: 823px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category-1,
.category-4{
    position: relative;
    width: 560px;
    height: 542px;
    display: block;
    outline: 1 solid #000;
    margin: 5px;
}

.category-2,
.category-3{
    position: relative;
    width: 560px;
    height: 261px;
    display: block;
    outline: 1 solid #000;
    margin: 5px;
}
.category-text {
    position: absolute;
    margin-top: 26px;
    padding: 16px 20px;
    background: #fff;   
}

.category-h3 {
    color:  #222222;
font-size: 18px;
font-weight: 900;
    text-transform: uppercase;
}

.category-h2 {
    color:  #f16d7f;
font-size: 30px;
font-weight: 900;
    text-transform:uppercase;
}

.category-1:hover,
.category-2:hover,
.category-3:hover,
.category-4:hover{
    box-shadow: 1px 1px 3px #b2b2b2;
}

.product-header {
    text-align: center;
    padding-bottom: 60px;
}

.product-header-h2 {
    color:  #222222;
    font-size: 30px;
    font-weight: 700;
}

.product-header-h3 {
    color:  #9f9f9f;
    font-size: 14px;
    font-weight: 400;
}

.product-flex {
   display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-info{
    position: relative;
}

.product-info-h3 {
    color:  #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px 15px 7px 15px;
}

.product-info-h2 {
    color:  #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 7px 15px 15px 15px;
}

.product-cart {
    margin-bottom: 35px;
}

.product-cart:hover{
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.product-cart:hover .hidden-block{
    display: flex;
}


.hidden-block{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    background-color:  rgba(58, 56, 56, 0.83);
    width: 263px;
    height: 281px;
    bottom: 82px;
}

.hidden-block a{
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #ffffff;
    font-size: 13px;
    font-weight: 700;
    padding: 14px 16px;
    border: 1px solid #fff;
    box-sizing: border-box;
    text-decoration: none;
    background-color:  rgba(255, 255, 255, 0);
}


.hidden-block a>img{
    padding: 0 8px;
}

.btn-browseAll {
    margin: 80px 0 112px 0;
    
}

.product-btnAll {
    display: flex;
    justify-content: center;
}
